:root {
  --bg-color: #1e1e1e;
  --main-color: #ffffff;
  --input-bg: #2e2e2e;
  --button-bg: #6D67E4;
  --button-hover-bg: #453C67;
  --border-color: #646669;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--input-bg);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: 500px;
  box-sizing: border-box;
}

h1.form-title {
  margin-top: 0;
  text-align: center;
  font-family: cursive;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} /* Ensure form takes full width of container */

.input-group {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--main-color);
  font-size: 1.2rem; /* Increased icon size */
}

.input-group input {
  width: 90%;
  padding: 10px 10px 10px 40px; /* Adjusted padding for icon spacing */
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--input-bg);
  color: var(--main-color);
  outline: none;
  font-size: 1rem;
}

.input-group label {
  display: none;
}

button.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
}

button.btn:hover {
  background-color: var(--button-hover-bg);
}

button.button-link {
  background: none;
  border: none;
  color: var(--main-color);
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  text-decoration: underline;
  width: auto;
}

button.button-link:hover {
  color: var(--button-hover-bg);
}

.social-login {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  gap: 80px;
}

.social-login i {
  font-size: 1.5rem;
  color: var(--main-color);
  cursor: pointer;
}

.social-login i:hover {
  color: var(--button-hover-bg);
}

.recover {
  text-align: right;
  width: 100%;
}

.recover a {
  color: var(--main-color);
  text-decoration: none;
}

.recover a:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.links p {
  margin: 0;
}

.messageDiv {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.or {
  text-align: center;
  margin: 20px 0; /* Added margin for spacing */
}
